<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <p class="h1">Login</p>
          <h6>
            Please enter <span class="text-primary">User</span> and
            <span class="text-primary">Password</span>
          </h6>
        </div>
        <br />
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div
              *ngIf="
              loginForm.controls['email'].errors?.['emailInvalid'] &&
                loginForm.controls['email'].touched
              "
              class="text-danger"
            >
              Invalid Email format!
              <p *ngIf="loginForm.controls['email'].errors?.['required']">
                Email is required!!
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
            <div
              *ngIf="
                loginForm.controls['password'].errors &&
                loginForm.controls['password'].touched
              "
              class="text-danger"
            >
              Password should be minimum 6 characters!
              <p *ngIf="loginForm.controls['password'].errors?.['required']">
                Password is required!!
              </p>
            </div>
          </div>
          <button type="submit" class="btn btn-info">Login</button>
        </form>
        <br />
        <a routerLink="/signup" style="color: #000; text-decoration: none"
          >New User ? <span class="text-primary">Click to Register</span></a
        >
      </div>
    </div>
  </div>
</div>
