<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <p class="h1">Register</p>
          <h6>
            Please fill this form to create
            <span class="text-primary">Account</span>
          </h6>
        </div>
        <br />
        <form [formGroup]="signupForm" (ngSubmit)="SignUp()">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              formControlName="name"
              type="text"
              class="form-control"
              id="name"
            />
            <div
              *ngIf="
                signupForm.controls['name'].errors &&
                signupForm.controls['name'].touched
              "
              class="text-danger"
            >
              Name should be minimum 4 characters!
              <p *ngIf="signupForm.controls['name'].errors?.['required']">
                Name is required!
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div
              *ngIf="
              signupForm.controls['email'].errors?.['emailInvalid'] &&
              signupForm.controls['email'].errors?.['emailInvalid'].message &&
                signupForm.controls['email'].touched
              "
              class="text-danger"
            >
              Invalid Email format!
              <p *ngIf="signupForm.controls['email'].errors?.['required']">
                Email is required!!
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="tel" class="form-label">Phone</label>
            <input
              formControlName="phone"
              type="number"
              class="form-control"
              id="tel"
            />
            <div
              *ngIf="
                signupForm.controls['phone'].errors &&
                signupForm.controls['phone'].touched
              "
              class="text-danger"
            >
              <p *ngIf="signupForm.controls['phone'].errors?.['required']">
                Phone is required!!
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
            <div
              *ngIf="
                signupForm.controls['password'].errors &&
                signupForm.controls['password'].touched
              "
              class="text-danger"
            >
              Password should be minimum 6 characters!
              <p *ngIf="signupForm.controls['password'].errors?.['required']">
                Password is required!
              </p>
            </div>
          </div>
          <button type="submit" class="btn btn-info">Register</button>
        </form>
        <br />
        <a routerLink="/login" style="color: #000; text-decoration: none"
          >Already registered?
          <span class="text-primary">Click to Login</span></a
        >
      </div>
    </div>
  </div>
</div>